<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon icons -->
    <link href="../static/images/favicon.png" rel="shortcut icon">

    <!-- All CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/themify-icons.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/style.css">

    <title></title>
  </head>
  <body>

    <!-- Preloader -->
    <div id="preloader">
      <div id="status"></div>
    </div>
    
    <!-- Header strat -->
    <header class="header">
      <div class="container">
        <nav class="navbar">
          <!-- Site logo -->
          <a href="home-01.html" class="logo">
            <img src="../static/images/logo.png" alt="">
          </a>
          <a href="javascript:void(0);" id="mobile-menu-toggler">
            <i class="ti-align-justify"></i>
          </a>
          <ul class="navbar-nav">
            <li class="has-menu-child current-menu-item">
              <a href="javascript:void(0);">Home</a>
              <ul class="sub-menu">
                <li><a href="home-01.html">Home 01</a></li>
                <li><a href="home-02.html">Home 02</a></li>
                <li><a href="home-03.html">Home 03</a></li>
              </ul>
            </li>
            <li><a href="about.html">About</a></li>
            <li class="has-menu-child">
              <a href="javascript:void(0);">Courses</a>
              <ul class="sub-menu">
                <li><a href="courses.html">Courses</a></li>
                <li><a href="course-details.html">Course Details</a></li>
              </ul>
            </li>
            <li class="has-menu-child">
              <a href="#">Blog</a>
              <ul class="sub-menu">
                <li><a href="blog.html">Blog</a></li>
                <li><a href="blog-details.html">Blog Details</a></li>
              </ul>
            </li>
            <li class="has-menu-child">
              <a href="#">Events</a>
              <ul class="sub-menu">
                <li><a href="events.html">Events</a></li>
                <li><a href="event-details.html">event Details</a></li>
              </ul>
            </li>
            <li class="has-menu-child">
              <a href="javascript:void(0);">Pages</a>
              <ul class="sub-menu">
                <li><a href="pricing.html">Pricing</a></li>
                <li><a href="terms-condition.html">Terms & Conditions</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="signup.html">Sign up</a></li>
              </ul>
            </li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="login.html">Log in</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- Header strat -->

    <!-- Page feature start -->
    <section class="page-feature">
      <div class="container text-center">
        <h2>Pricing</h2>
        <div class="breadcrumb">
          <a href="home.html">Home</a>
          <span>/ Pricing</span>
        </div>
      </div>
    </section>
    <!-- Page feature end -->
    
    <!-- Pricing section start -->
    <section class="pricing">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 col-md-9 m-auto text-center">
            <div class="sec-heading">
              <span class="tagline">Pricing Plan</span>
              <h3 class="sec-title">Take Plan According To Your Need</h3>
            </div>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-lg-4 col-md-6">
            <div class="pricing-box">
              <div class="p-head">
                <h4>Standard</h4>
                <p class="price">30$<span> / Month</span></p>
                <span>Access 05 courses</span>
              </div>
              <div class="p-body">
                <ul>
                  <li><i class="ti-check"></i>Certificate</li>
                  <li><i class="ti-check"></i>Re watch Course</li>
                  <li><i class="ti-close"></i>Conference</li>
                  <li><i class="ti-check"></i>Teacher Help</li>
                  <li><i class="ti-check"></i>Quizzes</li>
                  <li><i class="ti-close"></i>Data Storage</li>
                  <li><i class="ti-close"></i>Free Call</li>
                </ul>
                <a href="#" class="btn btn-filled">Buy Plan</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="pricing-box">
              <div class="p-head">
                <h4>Premium</h4>
                <p class="price">40$<span> / Month</span></p>
                <span>Access 10 courses</span>
              </div>
              <div class="p-body">
                <ul>
                  <li><i class="ti-check"></i>Certificate</li>
                  <li><i class="ti-check"></i>Re watch Course</li>
                  <li><i class="ti-close"></i>Conference</li>
                  <li><i class="ti-check"></i>Teacher Help</li>
                  <li><i class="ti-check"></i>Quizzes</li>
                  <li><i class="ti-close"></i>Data Storage</li>
                  <li><i class="ti-check"></i>Free Call</li>
                </ul>
                <a href="#" class="btn btn-filled">Buy Plan</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="pricing-box">
              <div class="p-head">
                <h4>Business</h4>
                <p class="price">60$<span> / Month</span></p>
                <span>Access 15 courses</span>
              </div>
              <div class="p-body">
                <ul>
                  <li><i class="ti-check"></i>Certificate</li>
                  <li><i class="ti-check"></i>Re watch Course</li>
                  <li><i class="ti-check"></i>Conference</li>
                  <li><i class="ti-check"></i>Teacher Help</li>
                  <li><i class="ti-check"></i>Quizzes</li>
                  <li><i class="ti-check"></i>Data Storage</li>
                  <li><i class="ti-close"></i>Free Call</li>
                </ul>
                <a href="#" class="btn btn-filled">Buy Plan</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Pricing section end -->

    <!-- Call to action section start -->
    <section class="callto-action">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-8">
              <h3>Request a discount</h3>
              <p>Get upto 50% discount over all courses</p>
            </div>
            <div class="col-md-4 text-md-right">
              <a href="" class="btn btn-default">apply now</a>
            </div>
          </div>
        </div>
      </section>
      <!-- Call to action section end -->
    
    <!-- Footer strat -->
    <footer class="footer">
      <div class="foo-top">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="widget widget-navigation">
                <h4 class="widget-title">Information for</h4>
                <ul>                  
                  <li><a href="#">Prospective undergraduates</a></li>
                  <li><a href="#">Prospective graduate students</a></li>
                  <li><a href="#">Businesses/Partnerships</a></li>
                  <li><a href="#">Visitors/Tourists</a></li>
                  <li><a href="#">Parliamentarians</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="widget widget-navigation">
                <h4 class="widget-title">Quick Links</h4>
                <ul>                  
                  <li><a href="#">Contact Searches</a></li>
                  <li><a href="#">Jobs and Vacancies</a></li>
                  <li><a href="#">University images</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Terms and Conditions</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="widget widget-navigation">
                <h4 class="widget-title">Information About</h4>
                <ul>
                  <li><a href="#">Strategic Plan</a></li>
                  <li><a href="#">Fees and Funding</a></li>
                  <li><a href="#">Museums and collections</a></li>
                  <li><a href="#">Statement on Modern Slavery</a></li>
                  <li><a href="#">Data privacy / GDPR</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="widget widget-navigation">
                <h4 class="widget-title">Security Brand</h4>
                <ul>
                  <li><a href="#">Privacy Statement</a></li>
                  <li><a href="#">Report Copyright Infringement</a></li>
                  <li><a href="#">Report Security Issue</a></li>
                  <li><a href="#">Trademark Notice</a></li>
                  <li><a href="#">Access Control</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      

      <div class="foo-btm">
        <div class="container">
          <p class="copyright">Copyright &copy; 2019.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
        </div>
      </div>
      
    </footer>
    <!-- Footer end -->

    <!-- JS -->
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/jquery-ui.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/scripts.js"></script>
  </body>
</html>